extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/libs/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/libs/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')
    link(rel='stylesheet', href='/css/admin.css')

block specific_scripts
    script(type="text/javascript", src='/libs/jquery-ui/jquery-ui.min.js')
    script(type="text/javascript", src='/libs/datatables.net/js/jquery.dataTables.min.js')
    script(type="text/javascript", src='/libs/datatables/media/js/dataTables.bootstrap.min.js')
    script(type="text/javascript", src='//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js')
    script(type="text/javascript", src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
    script(type="text/javascript", src='/libs/datatables.net-buttons/js/dataTables.buttons.min.js')
    script(type="text/javascript", src='/libs/datatables.net-buttons/js/buttons.html5.min.js')
    script(type="text/javascript", src='/libs/datatables.net-buttons/js/buttons.print.min.js')
    script(type="text/javascript", src='/libs/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')

    script(type='text/javascript').
        $(document).ready(function () {

            var table = $('#dataTable').DataTable({
                lengthChange: false,
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });

            table.buttons().container().appendTo( '#dataTable_filter' );

        });

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong
            .row
                .col-xs-12
                    h3.box-title All transactions
                .col-xs-12.table-responsive
                    table#dataTable.table.hover
                        thead
                            tr.info
                                th ID
                                th Method
                                th.text-center Status
                                th Price (one)
                                th Total price
                                th Schedule id
                                th Movie date
                                th Movie name
                                th Theatre name
                                th Email
                                th Phone
                                th Address
                                th Created at
                        tbody
                            if(data && data.length)
                                each item in data
                                    tr
                                        td=item.user_id
                                        td=item.method
                                        td.text-center
                                            span(class='badge st_' + item.status)= item.status
                                        td.text-right
                                            if(item.price)
                                                |   #{item.price}
                                                |   AMD
                                            else
                                                span -
                                        td.text-right
                                            strong
                                                if(item.totalPrice)
                                                    |   #{item.totalPrice}
                                                    |   AMD
                                                else
                                                    span -
                                        td=item.id_schedule
                                        td=item.date_time
                                        td=item.movie_name
                                        td=item.theatre_name
                                        td
                                            a(href="mailto:" + item.email)= item.email
                                        td=item.phone
                                        td=item.address
                                        td= moment(item.created_at).format('DD.MM.YYYY hh:mm')





